<a href="https://colab.research.google.com/github/NotSrihan/CS290/blob/main/Attribute_selection_method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import math

In [ ]:

from ucimlrepo import fetch_ucirepo

df = pd.read_csv("https://raw.githubusercontent.com/NotSrihan/CS290/refs/heads/main/student%20dropout.csv")
# data (as pandas dataframes)
X = df.iloc[:, :-1]
Y = df.iloc[:, -1]

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   School                       649 non-null    object
 1   Gender                       649 non-null    object
 2   Age                          649 non-null    int64
 3   Address                      649 non-null    object
 4   Family_Size                  649 non-null    object
 5   Parental_Status              649 non-null    object
 6   Mother_Education             649 non-null    int64
 7   Father_Education             649 non-null    int64
 8   Mother_Job                   649 non-null    object
 9   Father_Job                   649 non-null    object
 10  Reason_for_Choosing_School   649 non-null    object
 11  Guardian                     649 non-null    object
 12  Travel_Time                  649 non-null    int64
 13  Study_Time                   649 non-null    int64
 14  Number_of_Failures           649 non-null    int64
 15  School_Support               649 non-null    object
 16  Family_Support               649 non-null    object
 17  Extra_Paid_Class             649 non-null    object
 18  Extra_Curricular_Activities  649 non-null    object
 19  Attended_Nursery             649 non-null    object
 20  Wants_Higher_Education       649 non-null    object
 21  Internet_Access              649 non-null    object
 22  In_Relationship              649 non-null    object
 23  Family_Relationship          649 non-null    int64
 24  Free_Time                    649 non-null    int64
 25  Going_Out                    649 non-null    int64
 26  Weekend_Alcohol_Consumption  649 non-null    int64
 27  Weekday_Alcohol_Consumption  649 non-null    int64
 28  Health_Status                649 non-null    int64
 29  Number_of_Absences           649 non-null    int64
 30  Grade_1                      649 non-null    int64
 31  Grade_2                      649 non-null    int64
 32  Final_Grade                  649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

In [ ]:
Y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 649 entries, 0 to 648
Series name: Dropped_Out
Non-Null Count  Dtype
--------------  -----
649 non-null    bool
dtypes: bool(1)
memory usage: 777.0 bytes

In [ ]:
df = pd.concat( [X,y], axis=1 )
df.head()

,School,Gender,Age,Address,Family_Size,Parental_Status,Mother_Education,Father_Education,Mother_Job,Father_Job,...,Free_Time,Going_Out,Weekend_Alcohol_Consumption,Weekday_Alcohol_Consumption,Health_Status,Number_of_Absences,Grade_1,Grade_2,Final_Grade,Dropped_Out
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,4,0,11,11,False
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,2,9,11,11,False
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,6,12,13,12,False
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,0,14,14,14,False
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,0,11,13,13,False

In [ ]:
df["Dropped_Out"].unique()

array([False,  True])

In [ ]:
features = df.columns[ df.columns != "Dropped_Out" ]
features

Index(['School', 'Gender', 'Age', 'Address', 'Family_Size', 'Parental_Status',
       'Mother_Education', 'Father_Education', 'Mother_Job', 'Father_Job',
       'Reason_for_Choosing_School', 'Guardian', 'Travel_Time', 'Study_Time',
       'Number_of_Failures', 'School_Support', 'Family_Support',
       'Extra_Paid_Class', 'Extra_Curricular_Activities', 'Attended_Nursery',
       'Wants_Higher_Education', 'Internet_Access', 'In_Relationship',
       'Family_Relationship', 'Free_Time', 'Going_Out',
       'Weekend_Alcohol_Consumption', 'Weekday_Alcohol_Consumption',
       'Health_Status', 'Number_of_Absences', 'Grade_1', 'Grade_2',
       'Final_Grade'],
      dtype='object')

In [ ]:
df.columns[0:(len(df.columns)-1)]

Index(['School', 'Gender', 'Age', 'Address', 'Family_Size', 'Parental_Status',
       'Mother_Education', 'Father_Education', 'Mother_Job', 'Father_Job',
       'Reason_for_Choosing_School', 'Guardian', 'Travel_Time', 'Study_Time',
       'Number_of_Failures', 'School_Support', 'Family_Support',
       'Extra_Paid_Class', 'Extra_Curricular_Activities', 'Attended_Nursery',
       'Wants_Higher_Education', 'Internet_Access', 'In_Relationship',
       'Family_Relationship', 'Free_Time', 'Going_Out',
       'Weekend_Alcohol_Consumption', 'Weekday_Alcohol_Consumption',
       'Health_Status', 'Number_of_Absences', 'Grade_1', 'Grade_2',
       'Final_Grade'],
      dtype='object')

In [ ]:
target = "Dropped_Out"
attribute = "Number_of_Absences"

In [ ]:
vals = df[ attribute].unique()
vals

array([ 4,  2,  6,  0, 10,  8, 16, 14,  1, 12, 24, 22, 32, 30, 21, 15,  9,
       18, 26,  7, 11,  5, 13,  3])

In [ ]:

props = df[ df[attribute] == vals[16] ][target].value_counts( normalize=True )
props

Dropped_Out
False    0.571429
True     0.428571
Name: proportion, dtype: float64

In [ ]:
entropy = 0
for p in props.array:
  entropy = entropy - p*math.log2(p)
entropy

0.9852281360342515

In [ ]:

entropy = 0
for i in range(len(props)):
  entropy = entropy - props.iloc[i]*math.log2( props.iloc[i] )
entropy

0.9852281360342515

In [ ]:
entropy = 0
overall = len( df )
for val in vals:
  subset_size = len(df[ df[attribute] == val ])
  weight = subset_size / overall
  props = df[ df[attribute] == val ][target].value_counts( normalize=True )
  for p in props.array:
    entropy =  entropy - weight*(p*math.log2(p))

entropy

0.5841818093065039